@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                @Html.ActionLink("Schedule", "Index", "Schedule")
            </p>
            <p>
                @Html.ActionLink("Grades", "Index", "GradeIndex")
            </p>
            <p>
                @Html.ActionLink("Academic Groups", "Index", "Groups")
            </p>
            <p>
                @Html.ActionLink("Messages", "Index", "Messages")
            </p>
            <p>
                @Html.ActionLink("Payments", "Index", "Payment")
            </p>
            <p>
                @Html.ActionLink("Questionnaires", "Index", "Questionnaire")
            </p>
            <p>
                @Html.ActionLink("Lecturer's Resources", "Index", "Resources")
            </p>
             <p>
                @Html.ActionLink("For Students", "Index", "Students")
            </p>
             <p>
                @Html.ActionLink("Thesis", "Index", "Thesis")
            </p>
            <p>
                @Html.ActionLink("Manage Users", "Index", "Users")
            </p>

        </div>
    </section>
}

